@media (max-width: 1600px) {
    .header-banner::before, .header-banner::after {
        content: none;
    }
    .consult-form1::before {
        right: 78%;
    }
    .targeted-therapy {
        background-position-x: 264px;
    }
}

@media (max-width: 1400px) {
    .stages::after, .stages::before {
        content: none;
    }
    .consult-form2::before {
        right: 83%;
    }
}

@media (max-width: 1249.98px) {
    .container {
        max-width: 960px;
    }
    .header-banner {
        margin-top: 125px;
    }
    .efficiency::before, .efficiency::after, .efficiency-wrap::after, .consult-form1::before, .consult-form2::before {
        content: none;
    }
    .consult-form__content {
        margin-left: 0;
        padding: 30px 0 26px 0;
    }
    .consult-form__content-title {
        flex: 1 1 45%;
        max-width: 45%;
    }
    .consult-form__content-form {
        flex: 1 1 55%;
        max-width: 55%;
    }
    .infographics-line {
        display: none;
    }
    .efficiency-item1::after, .efficiency-item2::after, .efficiency-item3::after {
        display: none;
    }
    .efficiency-item1, .efficiency-item2, .efficiency-item3 {
        max-width: 100%;
        margin: 20px auto;
    }
    .stages-item:nth-child(1), .stages-item:nth-child(2) {
        margin-right: 0;
        height: 100%;
    }
    .slider-item__subtitle {
        height: 110px;
    }
    .select-cancer .select {
        margin-bottom: 20px;
    }
    .select-cancer__tel {
        margin-left: 0;
    }
    .application-form form textarea {
        width: 88%;
    }
    .header-top__logo .logo__title::after {
        top: 15px;
    }
    .application-form .form-block__text2 span {
        display: inline-block;
    }
    .header-top__right-block {
        align-items: start;
    }
    .form__answer {
        flex-direction: column;
    }
    .form__answer .inputText {
        margin: 20px 0 0 0;
    }
    .nextBtn::before {
        right: 20px;
    }
    .prevBtn::before {
        left: 20px;
    }
    .form__answer-item label {
        width: 380px;
    }
    .form__nav {
        width: 790px;
    }
    .products-slider__item:not(:nth-child(4n)) {
        margin-right: 0px;
    }
    .products-slider__item:not(:nth-child(3n)) {
        margin-right: 60px;
    }
}

@media (max-width: 1200px) {
    .contacts .contacts-map, #map {
        max-width: 100%;
    }
    .contacts-info {
        margin: 20px 0 0 0;
    }
    .product-popup {
        width: 772px;
        height: 506px;
    }
    .product-popup__title {
        font-size: 22px;
        line-height: 30px;
    }
    .product-popup__content {
        height: 200px;
    }
    .product-popup__price.product-item__price {
        margin-bottom: 10px;
    }
    #productBtn {
        width: 180px;
    }
}

@media (max-width: 1100px) {
    .slick-prev-custom {
        left: 0;
    }
    .slick-next-custom {
        right: 0;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
    .header-top__logo .logo__title::after, .header-top__logo .logo__title2, .header-top__logo .logo__title {
        display: none;
    }
    .header__menu-top {
        left: 150%;
        position: absolute;
        -webkit-transition: left .3s ease;
        -o-transition: left .3s ease;
        transition: left .3s ease;
    }
    .header .burger {
        display: block;
    }
    .header__menu-top-wrap {
        flex-direction: column;
        text-align: center;
        height: 100%;
        justify-content: center;
    }
    .header .menu_wrap {
        display: block;
    }
    .header__menu-top li {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
    }
    .header__menu-top li a {
        border: none;
    }
    .header__menu-top li a {
        vertical-align: middle;
        color: #596363;
        font-size: 18px;
        text-transform: uppercase;
    }
    .header__menu-top li a:hover, .header__menu-top li a:active {
        color: #A991FF;
    }
    .header-banner__form p {
        margin-bottom: 50px;
    }
    .header-banner__form, .video__text.genetic-disease {
        margin-bottom: 37px;
    }
    .consult-form__content-title, .consult-form__content-form {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .consult-form__content {
        flex-wrap: wrap;
    }
    .consult-form__title {
        text-align: center;
    }
    .consult-form form {
        justify-content: center;
    }
    .consult-form__content {
        padding: 20px 0 26px 0;
    }
    .video, .efficiency {
        padding: 50px 0 40px 0;
    }
    .privPolicy {
        max-width: 450px;
    }
    .stages .col-12 {
        margin-bottom: 50px;
    }
    .stages-item {
        min-height: auto;
    }
    .application-form img {
        display: none;
    }
    .application-form form p {
        margin-bottom: 50px;
    }
    .application-form form textarea {
        width: 67%;
    }
    .block-contasts__link a:not(:last-child) {
        padding-right: 15px;
    }
    h2, .efficiency h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .survey-form__item {
        padding: 30px 30px 30px 40px;
    }
    .form__answer {
        flex-wrap: nowrap;
        height: 330px;
    }
    .survey-form__item {
        height: 650px;
    }
    .nextBtn::before {
        right: 12px;
    }
    .prevBtn::before {
        left: 12px;
    }
    .form__nav {
        width: 620px;
        left: 42px;
    }
    .product-popup {
        width: 672px;
    }
    .slider-block {
        justify-content: space-around;
    }
    .products-slider__item {
        margin-top: 20px;
    }
    .products-slider__item:not(:nth-child(3n)) {
        margin-right: 0;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
    .header-top__city::before {
        content: none;
    }
    .header-top__right-block {
        justify-content: flex-end;
    }
    .header-top_tel {
        min-width: 145px;
    }
    .header-top__city {
        padding: 0 0 5px 0;
        text-align: right;
    }
    .header-top__city .city-title {
        padding-top: 0;
    }
    .treatment {
        padding: 76px 0 44px 0;
    }
    .slider-block {
        max-width: 350px;
        margin: 20px auto 20px auto;
    }
    .products-slider__item {
        margin: 0;
    }
    .select-cancer {
        margin-bottom: 0;
    }
    #product-prev {
        left: -70px;
    }
    #product-next {
        right: -70px;
    }
    .slider-block .slick-dots {
        bottom: -30px;
    }
    .slider-block .slick-track {
        padding: 20px 0;
    }
    .product-popup__title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 8px;
    }
    .product-popup__price.product-item__price {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .product-popup__time.product-item__time {
        font-size: 14px;
        line-height: 12px;
        margin-bottom: 5px;
    }
    .product-popup__content {
        margin-bottom: 10px;
        padding-right: 10px;
        height: 180px;
        font: normal 400 14px/20px 'Gilroy';
    }
    #productBtn {
        width: 130px;
        height: 35px;
        padding: 9px;
        font-size: 14px;
    }
    .scroll-wrapper {
        margin-bottom: 10px;
    }
    .scrollbar-inner>.scroll-element.scroll-y {
        right: 0;
    }
    .js-modal-close {
        top: 9px;
        right: -2px;
    }
    .freeByOms {
        right: 0;
        top: -20px;
        width: 56px;
        height: 56px;
        padding: 21px 0 20px 0;
        font: normal 700 7px/10px 'Montserrat';
        z-index: 1000;
    }
    .targeted-therapy {
        background: none;
    }
    .targeted-therapy .callout-text {
        padding: 149px 23px 43px 23px;
    }
    .block-menu {
        text-align: center;
    }
    .block-contasts {
        max-width: 100%;
        text-align: center;
    }
    .block-contasts__link {
        justify-content: center;
    }
    .header-banner__title h1, .header-banner__title span {
        font-size: 30px;
        line-height: 40px;
    }
    .header-banner__form p {
        font-size: 16px;
    }
    .header-banner__title {
        padding-bottom: 30px;
    }
    .application-form__text {
        font-size: 26px;
        line-height: 40px;
    }
    .application-form .form-block__text1 {
        padding-top: 0;
    }
    .application-form .form-block__text2 {
        margin-bottom: 30px;
    }
    .survey-form__title {
        font: normal 800 32px/30px 'Montserrat';
        margin-bottom: 15px;
    }
    .survey-form__question-number {
        font: normal 600 22px/24px 'Montserrat';
    }
    .nextBtn::before, .prevBtn::before {
        display: none;
    }
    .form__answer-item label {
        width: 350px;
        height: 60px;
    }
    .closeBtn, .closeBtn2 {
        top: 15px;
        right: 18px;
    }
    .form__answer {
        height: 285px;
    }
    .survey-form__item {
        height: 570px;
    }
    .survey-form__question {
        height: 66px;
    }
    .form__nav {
        width: 440px;
    }
    .product-popup {
        position: absolute;
        padding: 20px;
        width: 100%;
        height: 380px;
        top: 50%;
    }
    .show {
        display: block;
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .header-banner__advantages, .circle-white, .application-form, .block-contasts__link {
        display: none;
    }
    .header-top__logo img {
        width: 90px;
    }
    .header-top {
        padding: 15px 0;
    }
    #header-menu__city {
        display: block;
    }
    #header-menu__city a span {
        color: #A991FF;
        line-height: 20px;
        text-transform: none;
    }
    #header-menu__city .change_city {
        font-weight: 700;
        color: #A991FF;
        margin-bottom: 0;
        text-transform: none;
        line-height: 20px;
    }
    #header-menu__city .city-title {
        display: block;
    }
    #city, .change_city {
        display: inline-block;
    }
    .menu-line::after {
        content: none;
    }
    .header-banner {
        margin-top: 100px;
    }
    .select {
        width: 290px;
    }
    .header-banner__title h1, .header-banner__title span, .genomed-team__text h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .header-banner {
        margin-top: 53px;
        padding-top: 42px;
    }
    .header-top__city, .header-top_tel {
        display: none;
    }
    .header .menu_wrap {
        margin-left: 5px;
    }
    .header-top__right-block {
        padding-top: 0;
        justify-content: flex-end;
        margin-left: 10px;
    }
    .header .responsive {
        top: 0;
    }
    .header .burger_active .burger-line {
        background: #596363;
    }
    .header-banner__form p, .stages h2 {
        margin-bottom: 30px;
    }
    .header-banner {
        padding-bottom: 0;
    }
    #product-prev, #product-next {
        display: none !important;
    }
    .header__menu-top li a {
        font-size: 17px;
        padding-bottom: 0;
    }
    .header-banner__form .form-btn {
        width: 290px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .genetic-disease__title, .advantages-therapy h2 {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
    .genetic-disease__subtitle {
        font-size: 20px;
        line-height: 30px;
    }
    .content-text, .advantages-therapy p, .targeted-therapy .callout-text {
        font-size: 16px;
        line-height: 22px;
    }
    .video__title, .efficiency-info__link {
        font-size: 16px;
        line-height: 24px;
    }
    .consult-form__title {
        font-size: 18px;
        line-height: 27px;
        padding: 25px 0 0 0;
    }
    .consult-form__content-title {
        margin-right: 0;
    }
    .consult-form form {
        flex-direction: column;
        align-items: center;
    }
    .consult-form form input:not([type='checkbox']) {
        width: 290px;
        margin: 0 auto 12px auto;
    }
    .privPolicy {
        max-width: 290px;
        margin: 17px auto 10px auto;
    }
    .consult-form__btn {
        width: 290px;
    }
    .video, .efficiency {
        padding: 42px 0 33px 0;
    }
    .efficiency h2 {
        margin-bottom: 20px;
    }
    .efficiency-info__link {
        bottom: 9px;
        left: 21px;
    }
    .efficiency-item img {
        margin-bottom: 10px;
        display: block;
    }
    .efficiency-item__title {
        font-size: 20px;
        line-height: 28px;
    }
    .efficiency-item {
        padding: 30px 20px 40px 20px;
    }
    .stages {
        padding: 30px 0 57px 0;
    }
    .stages-slider__item {
        padding-top: 25px;
    }
    .stages-item img {
        top: 0;
    }
    .stages .col-12 {
        margin-bottom: 0;
    }
    .stages .slick-dots {
        bottom: -30px;
    }
    .advantages-therapy {
        padding: 52px 0 41px 0;
    }
    .genomed-team__slider .slider-item {
        padding: 25px;
    }
    .treatment {
        padding: 43px 0 35px 0;
    }
    .treatment .content-text::before {
        content: none;
    }
    .treatment .content-text {
        padding-left: 0;
        margin-bottom: 10px;
    }
    .select-cancer {
        margin-bottom: 0;
    }
    .select-cancer__tel {
        font-size: 18px;
        line-height: 27px;
    }
    .products-slider .slick-dots {
        bottom: -12px;
    }
    .targeted-therapy {
        padding: 39px 0 14px 0;
    }
    .targeted-therapy .callout-text::before {
        width: 63px;
        height: 63px;
        left: 16px;
        top: 15px;
    }
    .targeted-therapy .callout-text {
        padding: 100px 12px 9px 12px;
    }
    .contacts {
        padding: 14px 0 25px 0;
    }
    .contacts h2, .contacts-info__form textarea, .contacts-info__form .btn-default {
        margin-bottom: 15px;
    }
    #map {
        max-height: 212px;
    }
    .contacts-info__text1, .contacts-info__text2 {
        text-align: center;
    }
    .contacts-info__form form {
        width: 100%;
    }
    .contacts-info__form input[type='text'], .contacts-info__form input[type='tel'], .contacts-info__form textarea, .contacts-info__form .btn-default {
        max-width: 100%;
    }
    .contacts-info__form .privPolicy {
        max-width: 100%;
        margin: 0;
    }
    .survey-form__title {
        font-size: 23px;
        line-height: 25px;
    }
    .survey-form__question-number {
        font-size: 19px;
        line-height: 14px;
    }
    .survey-form__question {
        font-size: 22px;
        line-height: 25px;
    }
    .survey-form__item {
        padding: 30px 20px 30px 20px;
    }
    .form__answer-item label, .form__answer .inputText {
        width: 240px;
        height: 55px;
    }
    .new-select {
        width: 240px;
        padding-left: 13px;
    }
    .form__answer .inputText {
        padding: 17px 0 19px 12px;
    }
    .new-select__list {
        width: 240px;
    }
    .header-banner {
        padding-bottom: 30px;
    }
    .discount-block {
        width: 100%;
    }
    .discount-block__subtitle {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .discount-block__text {
        font-size: 15px;
        line-height: 24px;
    }
    .discount-block__form input, .discount-block__btn {
        width: 85%;
    }
    .discount-block__btn {
        font-size: 14px;
        line-height: 18px;
    }
    .form__nav {
        width: 90%;
        left: 25px;
    }
    .form__answer-item label {
        font-size: 16px;
    }
    .float-phone {
        position: fixed;
        position: fixed;
        width: 45px;
        height: 45px;
        display: block;
        top: calc(100% - 80px);
        right: 20px;
        z-index: 10000;
        background: #1A2A8A;
        border-radius: 50%;
        text-align: center;
        padding-top: 8px;
    }
    .float-phone img {
        width: 24px;
        height: 24px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .header-banner__title h1 {
        font: normal 400 42px/58px "Montserrat";
        margin-bottom: 8px;
        color: #a580ff;
        background: none;
    }
}