/*common*/

.container {
    max-width: 1200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

input:focus, input:active {
    outline: none;
}

.container-fluid {
    padding: 0;
}

h2 {
    font: normal 700 30px/45px 'Montserrat';
}

.content-text {
    font: normal 400 18px/27px 'Gilroy';
    color: #2F3A40;
}

.btn-default {
    display: block;
    height: 49px;
    border-radius: 6px;
    font: normal 500 16px/18px 'Gilroy';
    text-align: center;
    padding: 15px 0;
}

.btn-blue {
    background: #335DFF;
    color: #fff;
}

.btn-white {
    background: #FFFFFF;
    color: #335DFF;
    border: 1px solid #335DFF;
}

button {
    cursor: pointer;
}

/* header */

.header {
    background: linear-gradient(270.71deg, #421089 30.05%, #25248C 78.09%), #1A2A8A;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: linear-gradient(270.71deg, #421089 30.05%, #25248C 78.09%), #1A2A8A;
}

/*menu burger*/

.header .responsive {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 100%;
    top: 46px;
    background: #fff;
    z-index: 1000;
    right: 0;
    top: 125px;
    bottom: 0;
    -webkit-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease;
}

.header .burger {
    display: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 35px;
    z-index: 10000;
}

.header .burger span {
    font-family: 'Lato';
    padding-left: 40px;
    padding-top: 8px;
    display: inline-block;
}

.header .burger .burger-line {
    position: absolute;
    top: 8px;
    right: 0;
    width: 28px;
    border-radius: 5px;
    height: 3px;
    background-color: #fff;
    transition: .5s all;
}

.header .burger .second, .header .burger .third {
    top: 18px;
    height: 0.15em;
    transform: translateY(-50%);
}

.header .burger .fourth {
    top: 26px;
}

.header .burger .first, .header .burger .fourth {
    height: 0.15em;
}

.header .burger_active .first, .header .burger_active .fourth {
    opacity: 0;
}

.header .burger_active .second {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.header .burger_active .third {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.header .burger_active .second:before, .header .burger_active .third:before {
    content: none;
}

.header .menu_wrap {
    width: 45px;
    height: 37px;
    margin-left: 30px;
    z-index: 10000;
}

/*menu burger end*/

.header-top {
    padding: 27px 0 33px 0;
}

.header-top__logo {
    display: flex;
}

.header-top__logo img {
    width: 133px;
    padding-right: 10px;
}

.header-top__logo .logo__title {
    font: normal 500 10px/16px 'Gilroy';
    color: #A991FF;
    align-self: center;
    padding-top: 12px;
    padding-right: 10px;
    position: relative;
}

.header-top__logo .logo__title::after {
    content: '';
    width: 1px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 7px;
}

.header-top__logo .logo__title2 {
    font: normal 700 14px/17px 'Montserrat';
    align-self: center;
    padding-top: 5px;
    padding-left: 10px;
}

.header-top-info-wrap {
    display: flex;
    align-items: end;
}

.header-top__right-block {
    display: flex;
    justify-content: end;
    padding-top: 12px;
    align-items: end;
}

.header-top__city {
    padding-right: 15px;
    font: normal 700 12px/15px 'Gilroy';
    position: relative;
    padding-bottom: 3px;
    padding-top: 5px;
}

.header-top__city::before {
    content: '';
    width: 1px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    left: -21px;
    top: 5px;
}

.header-top__city span:nth-child(1) {
    color: #A991FF;
    display: block;
}

.header-top_tel {
    text-align: right;
    font: normal 400 16px/19px 'Gilroy';
}

.header-top_tel span {
    display: block;
    font: normal 400 12px/14px 'Gilroy';
    color: #A991FF;
    padding-bottom: 5px;
}

.menu-line {
    position: relative;
    padding: 0;
}

.menu-line::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
    opacity: 0.3;
}

.header__menu-top-wrap {
    display: flex;
    justify-content: space-between;
}

.header__menu-top li a {
    font: normal 400 14px/16px 'Gilroy';
    color: #fff;
    padding-bottom: 21px;
    display: block;
    border-bottom: 2px solid transparent;
}

.header__menu-top li a:hover {
    border-color: #F1EEFF;
}

.header-banner {
    padding-top: 84px;
    padding-bottom: 90px;
    position: relative;
    margin-top: 163px;
}

.header-banner::after {
    content: url(../images/vector-firstBlock.svg);
    position: absolute;
    right: 0;
    top: 10px;
}

.header-banner::before {
    content: url(../images/vector2-firstBlock.svg);
    position: absolute;
    left: 50px;
    bottom: 25px;
}

.header-banner__title {
    padding-bottom: 62px;
}

.header-banner__title h1 {
    font: normal 400 42px/58px 'Montserrat';
    background: linear-gradient(90.47deg, #968CFF 10.85%, #AD79FF 84.25%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

.header-banner__title span {
    font: normal 700 42px/63px 'Montserrat';
    display: block;
}

.header-banner__form {
    padding-right: 14px;
}

.header-banner__form p {
    font: normal 400 22px/33px 'Montserrat';
    color: #A991FF;
    margin-bottom: 95px;
}

.header-banner__form p span {
    font-weight: 800;
    color: #fff;
}

.header-banner__form .form-btn {
    font: normal 600 18px/21px 'Gilroy';
    color: #fff;
    padding: 14px 80px 14px 80px;
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline-block;
    height: 52px;
    width: 222px;
}

.header-banner__advantages {
    color: #A991FF;
    font: normal 600 16px/19px 'Gilroy';
    padding-top: 5px;
}

.advantages__icons {
    display: flex;
}

.header-banner__advantages .advantages__title {
    font: normal 600 18px/27px 'Montserrat';
    margin-bottom: 30px;
    text-transform: uppercase;
}

.advantages__item {
    flex: 1 1 25%;
    text-align: center;
    padding: 0 15px;
}

.advantages__item img {
    padding-bottom: 10px;
    height: 80px;
}

.video {
    padding: 73px 0 63px 0;
}

.genetic-disease__title {
    font: normal 700 30px/48px 'Montserrat';
    color: #2F3A40;
    margin-bottom: 11px;
}

.genetic-disease__title span {
    font-weight: 400;
    display: block;
}

.genetic-disease__subtitle {
    font: italic 600 24px/36px 'Montserrat';
    color: #8977D6;
    margin-bottom: 22px;
}

.genetic-disease__text p {
    margin-bottom: 0;
}

.video__content img {
    max-width: 100%;
    margin-bottom: 26px;
}

.video__title {
    font: normal 500 20px/30px 'Montserrat';
    color: #2F3A40;
}

/* section consult form*/

.consult-form {
    background: #F1F5FF;
    position: relative;
}

.consult-form__content {
    padding: 54px 0 26px 0;
    display: flex;
    z-index: 10;
    position: relative;
    margin-left: 17%;
}

.consult-form__content-title {
    flex: 1 1 475px;
    max-width: 475px;
    margin-right: 15px;
}

.consult-form__content-form {
    flex: 1 1 475px;
    max-width: 475px;
    margin-left: auto;
}

.consult-form1::before {
    content: url(../images/doc.png);
    position: absolute;
    right: 70%;
}

.consult-form2::before {
    content: url(../images/docWomen.png);
    position: absolute;
    right: 75%;
}

.consult-form__title {
    font: normal 600 22px/33px 'Montserrat';
    color: #2F3A40;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-top: 20px;
}

.consult-form2 .consult-form__title {
    padding-top: 0;
}

.consult-form__title span {
    font-weight: 700;
    display: inline-block;
}

.consult-form form {
    display: flex;
    flex-wrap: wrap;
}

.consult-form form input:not([type='checkbox']) {
    border: none;
    min-width: 221px;
    height: 49px;
    border-radius: 4px;
    padding: 15px 0 12px 16px;
}

.consult-form form input:nth-child(odd) {
    margin: 0 16px 15px 0;
}

.consult-form form input::placeholder {
    font: normal 500 14px/21px 'Gilroy';
    color: #808689;
}

.consult-form__btn {
    width: 222px;
    height: 48px;
    background-color: #335DFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font: normal 600 14px/16px 'Gilroy';
}

.privPolicy {
    margin-top: 5px;
    max-width: 350px;
}

.privPolicy label {
    font: normal 400 11px/13px 'Gilroy';
    color: #2F3A40;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 9px;
    height: 9px;
    background: #335DFF;
    border-radius: 2px;
}

.styled-checkbox:checked+label:before {
    background: #335DFF;
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: '\2714';
    position: absolute;
    left: 1px;
    top: -2px;
    color: #fff;
    font-size: 9px;
}

/*section efficiency*/

.efficiency {
    padding-top: 66px;
    padding-bottom: 54px;
    position: relative;
}

.efficiency::before {
    content: url('../images/squarePurple.svg');
    position: absolute;
    top: 8%;
    left: 0;
}

.efficiency::after {
    content: url('../images/circlePurpleEmpty.svg');
    position: absolute;
    right: 0px;
    top: 0px;
}

.efficiency-wrap::after {
    content: url('../images/circlePurpleSmall.svg');
    right: 20px;
    bottom: 35%;
    position: absolute;
}

.efficiency h2 {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 46px auto;
}

.efficiency-info {
    display: flex;
    flex-wrap: wrap;
}

.efficiency-item {
    padding: 30px 28px 40px 33px;
    border: 1px solid #ECEEF0;
    border-radius: 10px;
    position: relative;
}

.efficiency-item img {
    padding: 0 17px 0 0;
}

.efficiency-item__title {
    font: normal 600 22px/33px 'Montserrat';
    color: #2F3A40;
}

.efficiency-item__text {
    padding-top: 17px;
}

.efficiency-item1 {
    max-width: 519px;
    margin-right: 53px;
    align-self: self-end;
    -webkit-align-self: flex-end;
}

.efficiency-item1::after {
    content: '';
    width: 85px;
    height: 3px;
    background-color: #B1C2FF;
    display: block;
    transform: rotate(-90deg);
    bottom: -2.8em;
    position: absolute;
    left: 9.47em;
}

.efficiency-item2::after {
    content: '';
    width: 85px;
    height: 3px;
    background-color: #4465BB;
    display: block;
    transform: rotate(-90deg);
    bottom: -2.8em;
    position: absolute;
    left: 22.47em;
}

.efficiency-item3::after {
    content: '';
    width: 85px;
    height: 3px;
    background-color: #5587E9;
    display: block;
    transform: rotate(-90deg);
    position: absolute;
    top: -11%;
    left: 17.12em;
}

.efficiency-item2 {
    max-width: 598px;
}

.efficiency-item2 .efficiency-item__title {
    max-width: 350px;
    display: inline-block;
    vertical-align: middle;
}

.efficiency-item3 {
    max-width: 633px;
    margin: 0 auto;
}

.efficiency-info__link {
    font: normal 500 18px/28px 'Gilroy';
    position: absolute;
    bottom: 20px;
    right: 28px;
}

.infographics-line {
    width: 1170px;
    height: 24px;
    background: linear-gradient(90deg, #FFFFFF -7.09%, rgba(255, 255, 255, 0) 102.44%), #7FEF4A;
    border-radius: 12px;
    margin: 96px 0;
    max-width: 100%;
}

.infographics-line__circle {
    width: 88px;
    height: 88px;
}

.infographics-line-wrap {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 100%;
}

/*section stages*/

.stages {
    padding: 61px 0 69px 0;
    background: linear-gradient(270.71deg, #421089 30.05%, #25248C 78.09%), #1A2A8A;
    position: relative;
}

.stages::before {
    content: url('../images/stage-circle.svg');
    position: absolute;
    left: 0;
    bottom: -5px;
}

.stages::after {
    content: url('../images/stage-square.svg');
    position: absolute;
    right: 40px;
    top: 40px;
}

.stages h2 {
    color: #fff;
    margin-bottom: 70px;
}

.stages-item {
    background: #F7F9FC;
    border: 1px solid #EDF0F7;
    border-radius: 15px;
    padding: 74px 17px 34px 24px;
}

.stages-item img {
    position: absolute;
    top: -35px;
}

.stages-item:nth-child(1), .stages-item:nth-child(2) {
    margin-right: 37px;
}

/* section advantages*/

.advantages-therapy {
    padding: 75px 0 71px 0;
}

.advantages-therapy h2 {
    color: #2F3A40;
    margin-bottom: 44px;
}

.advantages-therapy p {
    font: normal 500 18px/27px 'Gilroy';
    color: #2F3A40;
    text-align: center;
}

.advantages-therapy__wrapImg {
    height: 150px;
}

.advantages-therapy__item {
    max-width: 320px;
    margin: 0 auto;
}

.advantages-therapy__item img {
    margin: 0 auto;
    display: block;
}

/* section genomed team*/

.genomed-team {
    background: linear-gradient(290.04deg, #C6D7F6 -2.51%, rgba(241, 245, 255, 0) 53.7%), #F1F5FF;
    padding: 63px 0 96px 0;
    position: relative;
    position: relative;
}

.genomed-team::before {
    content: url('../images/white-line.svg');
    position: absolute;
    top: 43%;
    z-index: 0;
    right: 0;
    overflow-x: hidden;
    left: 0;
}

.circle-white {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
}

.circle-white1 {
    width: 41px;
    height: 41px;
    top: 13%;
    left: 3%;
}

.circle-white2 {
    width: 10px;
    height: 10px;
    top: 30%;
    left: 12%;
}

.circle-white3 {
    width: 26px;
    height: 26px;
    left: 4%;
    bottom: 33%;
}

.circle-white4 {
    width: 26px;
    height: 26px;
    right: 4%;
    top: 5%;
}

.circle-white5 {
    width: 15px;
    height: 15px;
    right: 17%;
    top: 44%;
}

.circle-white6 {
    width: 10px;
    height: 10px;
    right: 2%;
    bottom: 24%;
}

.genomed-team__text h2 {
    margin-bottom: 25px;
    max-width: 693px;
}

.genomed-team__text p:not(:nth-child(3)) {
    margin: 0;
}

.genomed-team__text p:nth-child(3) {
    margin-bottom: 30px;
}

.genomed-team__text {
    margin-bottom: 64px;
}

.genomed-team__slider {
    max-width: 1042px;
    margin: 0 auto;
}

.slider-item {
    margin: 0 20px;
    padding: 27px 33px 30px 33px;
    background: #FFFFFF;
    border: 1px solid rgba(225, 230, 237, 0.58);
    border-radius: 10px;
    border: none;
    outline: none;
}

.genomed-team__slider img {
    max-width: 150px;
    margin: 0 auto 14px auto;
}

.slider-item__img-wrap {
    position: relative;
    max-width: 150px;
    margin: 0 auto;
}

.slider-item__img-wrap::after {
    content: '';
    width: 18px;
    height: 18px;
    background: #88C961;
    border: 2px solid #FFFFFF;
    position: absolute;
    right: 19px;
    bottom: 7px;
    display: block;
    border-radius: 50%;
    z-index: 10;
}

.slider-item__title {
    font: normal 600 18px/27px 'Montserrat';
    color: #596363;
    max-width: 200px;
    margin: 0 auto 5px auto;
    text-align: center;
}

.slider-item__subtitle {
    font: normal 400 16px/24px 'Gilroy';
    text-align: center;
    margin: 0 auto;
    max-width: 250px;
    padding-bottom: 10px;
}

.slider-item__price, .slider-item__experience {
    font: normal 400 16px/24px 'Gilroy';
    display: inline-block;
}

.slider-item__price span, .slider-item__experience span {
    font: normal 700 18px/27px 'Gilroy';
    color: #335DFF;
    display: block;
}

.slider-item__experience {
    text-align: right;
    float: right;
}

.slider-item a {
    width: 100%;
    margin: 15px auto 8px auto;
}

/* section treatment */

.treatment {
    padding: 76px 0 64px 0;
}

.treatment h2 {
    margin-bottom: 26px;
}

.treatment h2 span {
    display: block;
    font-weight: 500;
}

.treatment .content-text {
    max-width: 1015px;
    margin-bottom: 68px;
    position: relative;
    padding-left: 22px;
}

.treatment .content-text::before {
    content: '';
    height: 100%;
    width: 5px;
    background-color: #335DFF;
    border-radius: 100px;
    position: absolute;
    left: 0;
}

.select-cancer {
    margin-bottom: 20px;
}

.select {
    position: relative;
    display: inline-block;
    max-width: 392px;
    vertical-align: middle;
    user-select: none;
    -webkit-touch-callout: none;
    border: 1px solid #EDF0F6;
    width: 392px;
    height: 59px;
    font: normal 400 18px/35px 'Gilroy';
    padding: 0 0 0 21px;
    border-radius: 4px;
    background: #F7F9FC;
}

.select .placeholder {
    position: relative;
    display: block;
    z-index: 1;
    border-radius: 4px;
    cursor: pointer;
    color: #2F3A40;
    padding-top: 11px;
}

.select .placeholder:after {
    position: absolute;
    right: 1em;
    top: 34%;
    content: url('../images/select-icon.svg');
    z-index: 10;
}

.select .placeholder.is-open .placeholder:after {
    content: url('../images/select-icon.svg');
}

.select--white ul {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
    background: #F7F9FC;
    border-radius: 4px;
}

.select.is-open ul {
    display: block;
}

.select.select--white .placeholder {
    background: #F7F9FC;
}

.select.select--white ul li {
    display: block;
    text-align: left;
    padding: 0.8em 1em 0.8em 1em;
    color: #2F3A40;
    cursor: pointer;
    font: normal 400 18px/35px 'Gilroy';
    border: 1px solid #EDF0F6;
}

.select.select--white ul li:hover {
    background-color: #fff;
}

.select-cancer select option {
    font: normal 400 18px/27px 'Gilroy';
}

.select-cancer__tel {
    display: inline-block;
    font: normal 20px/30px 'Montserrat';
    margin-left: 37px;
}

.select-cancer__tel span {
    font-weight: 700;
    color: #335DFF;
}

.products-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-slider .product-item {
    width: 270px;
    height: 340px;
}

.product-item {
    padding: 35px 16px 18px 16px;
    background: #FFFFFF;
    border: 1px solid #DFE4F1;
    border-radius: 10px;
    text-align: center;
    margin: 30px 0;
    position: relative;
}

.freeByOms {
    position: absolute;
    right: -22px;
    top: -40px;
    width: 66px;
    height: 66px;
    background: #FD3636;
    box-shadow: 0px 6px 25px -12px rgba(253, 54, 54, 0.5);
    border-radius: 50%;
    font: normal 700 8px/12px 'Montserrat';
    text-align: center;
    color: #FFFFFF;
    padding: 23px 0 20px 0;
}

.product-item a {
    margin-bottom: 8px;
}

.product-item__title {
    min-height: 80px;
    font: normal 500 16px/24px 'Gilroy';
}

.product-item__time {
    font: normal 500 16px/24px 'Gilroy';
    margin-bottom: 10px;
    margin-bottom: 12px;
}

.product-item__time span {
    font-weight: 600;
    color: #335DFF;
}

.product-item__price {
    font: normal 600 24px/36px 'Montserrat';
    margin-bottom: 19px;
    color: #335DFF;
}

.targeted-therapy {
    padding-top: 64px;
    padding-bottom: 30px;
    background: url('../images/clients.png') no-repeat;
    background-position: right top;
}

.targeted-therapy h2 span {
    display: block;
    font-weight: 500;
}

.targeted-therapy h2 {
    margin-bottom: 22px;
}

.targeted-therapy .callout-text {
    margin: 32px 0 38px 0;
    font: normal 600 23px/34px 'Gilroy';
    color: #2F3A40;
    background: #F7F9FC;
    border: 1px solid #EAEFFD;
    border-radius: 20px;
    padding: 49px 23px 43px 178px;
    position: relative;
}

.targeted-therapy .callout-text::before {
    content: '';
    background-image: url('../images/triangle.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
    top: 36px;
    height: 95px;
    width: 95px;
}

.targeted-therap__block1 {
    max-width: 621px;
}

.targeted-therap__block2 {
    margin-right: 25px;
}

.targeted-therap__block2, .targeted-therap__block3 {
    display: inline-block;
    max-width: 570px;
    vertical-align: top;
}

/* section contacts*/

.contacts {
    padding: 60px 0 73px 0;
}

.contacts h2 {
    text-transform: uppercase;
    margin-bottom: 43px;
}

.contacts .contacts-map {
    max-width: 595px;
}

#map {
    max-width: 595px;
    height: 693px
}

iframe {
    border: none!important;
}

.contacts-info {
    margin-left: 34px;
}

.contacts-info__tel {
    max-width: 450px;
    margin-bottom: 12px;
    font: normal 400 16px/24px 'Gilroy';
}

.contacts-info__tel span:nth-child(2) {
    font-weight: 600;
    color: #335DFF;
}

.contacts-info__workTime {
    font: normal 500 16px/24px 'Gilroy';
    color: #2F3A40;
    margin-bottom: 10px;
}

.contacts-info__workTime p {
    margin-bottom: 0;
}

.contacts-info__text1 {
    font: normal 600 16px/24px 'Gilroy';
    color: #335DFF;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.contacts-info__text2 {
    font: normal 600 16px/24px 'Gilroy';
    color: #2F3A40;
    margin-bottom: 16px;
}

.contacts-info__form form {
    display: flex;
    flex-direction: column;
}

.contacts-info__form input:not([type='checkbox']) {
    margin-bottom: 10px;
    border: 1px solid #E6EBEE;
    border-radius: 5px;
}

.contacts-info__form input[type='text'], .contacts-info__form input[type='tel'] {
    max-width: 220px;
    height: 50px;
    padding: 17px 0 17px 20px;
}

.contacts-info__form textarea {
    border: 1px solid #E6EBEE;
    border-radius: 5px;
    padding: 13px 20px;
    margin-bottom: 24px;
    max-width: 480px;
    max-height: 147px;
}

.contacts-info__form input::placeholder, .contacts-info__form input::placeholder, .contacts-info__form textarea::placeholder {
    font: normal 400 14px/16px 'Gilroy';
    color: #808689;
}

.contacts-info__form .btn-default {
    max-width: 222px;
    font: normal 600 14px/16px 'Gilroy';
    margin-bottom: 26px;
}

.contacts-info__form .privPolicy {
    max-width: 87%;
}

.contacts-info__form .privPolicy label a {
    color: #335DFF;
    text-decoration: underline;
}

/*section bottom form*/

.application-form {
    overflow: hidden;
}

.application-form__text {
    font: normal 700 30px/45px 'Montserrat';
    color: #335DFF;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.application-form .form-block__text1 {
    font: normal 700 24px/30px 'Montserrat';
    color: #596363;
    margin-bottom: 24px;
    padding-top: 74px;
}

.application-form .form-block__text2 {
    font: normal 400 16px/24px 'Gilroy';
    margin-bottom: 120px;
    max-width: 560px;
    color: #596363;
}

.application-form .form-block__text2 span {
    font-weight: 700;
    color: #335DFF;
}

.application-form form input {
    border: none;
    border-bottom: 1px solid #989C9C;
    margin-bottom: 70px;
    font: normal 400 16px/24px 'Gilroy';
    padding-bottom: 6px;
    color: #858585;
}

.application-form form input[type='text'] {
    margin-right: 66px;
}

.application-form form input .application-form form input::placeholder, .application-form form textarea::placeholder {
    font: normal 400 16px/24px 'Gilroy';
    color: #858585;
}

.application-form form textarea {
    font: normal 400 16px/24px 'Gilroy';
    border: none;
    border-bottom: 1px solid #989C9C;
    height: 34px;
    width: 64%;
    color: #858585;
    margin-bottom: 52px;
}

.application-form form textarea::-webkit-resizer {
    border: 10px solid transparent;
    border-right: 10px solid #989C9C;
    border-bottom: 10px solid #989C9C;
}

.application-form form button {
    border: none;
    width: 212px;
    font: normal 600 14px/16px 'Gilroy';
    margin-bottom: 58px;
}

.application-form form p {
    font: normal 400 14px/21px 'Gilroy';
    color: #929494;
    max-width: 595px;
}

.application-form form p a {
    color: #6C2AC9;
}

footer {
    background-color: #120A54;
    color: #B7AEFB;
    padding: 39px 0 27px 0;
}

.block-menu__title {
    font: normal 700 18px/40px 'Gilroy';
    margin-bottom: 9px;
}

.block-menu__menu li a {
    color: #B7AEFB;
    display: inline-block;
    margin-bottom: 18px;
    /*border-bottom: 1px solid #B7AEFB;*/
    text-decoration: underline;
    font: normal 400 16px/20px 'Gilroy';
}

.block-contasts {
    font: normal 400 14px/21px 'Gilroy';
    max-width: 275px;
}

.block-contasts p {
    margin-bottom: 0;
}

.block-contasts__adddress {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.block-contasts__tel {
    margin-bottom: 25px;
}

.block-contasts__tel a {
    font: normal 700 20px/30px 'Gilroy';
    color: #B7AEFB;
}

.block-contasts__mail a {
    color: #B7AEFB;
}

.block-contasts__mail, .block-contasts__copyright p {
    margin-bottom: 20px;
}

.block-contasts__link {
    display: flex;
    margin-top: 31px;
}

.block-contasts__link a:not(:last-child) {
    padding-right: 27px;
}